.btnLoadMore {
    border: none;
    background-color: #9696d5;
    color: white;
    height: 30px;
    margin: 9px 16px;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    margin: 0 auto;
    display: block;

    &:hover {
        background-color: #8c8ccc;
    }
}